body{
  background-image: url(https://s3.amazonaws.com/myfangate.com/miwshazam/repeatpattern.jpg);
  background-repeat: repeat;
  overflow-x: hidden;
  white-space: nowrap;
  height: 100%;
  color: #fff; 
}

#ss-form{
  padding: 0 40px;
}

.header, .blacktear, .collage{
// max-width: 640px;
 margin: 0 auto;
// background-color: #371f21;
 
 img{
 width: 100%;
 }

}

.collage{
  img{
    padding: 50px;
  }
}

input {
    border:2px solid #dadada;
    border-radius:7px;
    padding:5px;
    font-size: 23px !important;
}

.error { 
    outline:none;
    border-color: blue;
    box-shadow:0 0 10px blue;
}

p{
  word-wrap:normal;  
}

.container{
  margin-top: 150px;
  font-size: 20px;
}


.col-md-12{
  margin-top: 20px;
  a{
    color: #fff;
    text-decoration: underline;
  }
}

h2{
  text-align: center;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus{
  color: white;
  background-color: black;
  border: 2px solid #fff;
}

.beforefooter{
  img {
          -moz-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
          filter: FlipV;
          -ms-filter: "FlipV";
          width: 100%;
  }
}

footer{
  background-color: black;
  height: 200px;
  i{
    margin-right: 10px;
  }
  i.fa{
    padding: 10px 13px 10px 14px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #fff;
    color: #000;
    font-size: 50px; 
  }
  .left-align{
    float: left;
    padding-left: 50px;
  }
  .right-align{
    float: right;
    padding-right: 50px;
  }
  .left-align, .right-align{
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
