<div class="header">
  <img src="https://s3.amazonaws.com/myfangate.com/miwshazam/headerimage.jpg">
</div>
<div class="blacktear">
  <img src="https://s3.amazonaws.com/myfangate.com/miwshazam/blacktear.png">
</div>
<div class="collage">
  <img src="https://s3.amazonaws.com/myfangate.com/miwshazam/prizes.png">
</div>
<!--G FORM -->



<div class="ss-form">


<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {$('.ss-form').html('<center><h1>Thanks you for entering!</h1>').css('height','397px');ga('send', 'event',  'Form', 'Complete', 'Success');}"></iframe>
<h2>Submit your Email address to enter</h2> 
    <form id="ss-form" action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1yxwBr-5ZzmMEomeOmvc6s5LR4QHfmmO8UEPWlhCgXzU/formResponse" method="post" target="hidden_iframe" 
onsubmit="return validateForm()">
    <ol role="list" class="ss-question-list" style="padding-left: 0">

      <div class="form-group">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
      <input type="text" name="entry.193196971" value="" class="ss-q-short form-control" id="entry_193196971" dir="auto" aria-label="Email Address:  " title="">
      <div class="error-message" id="1524149796_errorMessage"></div>
      <div class="required-message">This is a required question</div>
      </div></div></div>
      </div>


      <input type="hidden" name="draftResponse" value="[,,&quot;-5468418597670844003&quot;]
      ">
      <input type="hidden" name="pageHistory" value="0">


      <input type="hidden" name="fbzx" value="-5468418597670844003">

      <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
      <input type="submit" name="submit" value="Submit" class="btn btn-default" id="ss-submit">
      </td>

      </tr></tbody></table></div>
    </ol>
  </form>
</div>

<div class="collage">
  <a href="https://itunes.apple.com/us/album/reincarnate/id892908274"><img src="https://s3.amazonaws.com/myfangate.com/miwshazam/itunes.png"></a>
</div>

<!-- END GMFORM -->
<div class="beforefooter">
  <img src="https://s3.amazonaws.com/myfangate.com/miwshazam/blacktear.png">
</div>
<footer>
  <div class="left-align">
    <a href="http://www.facebook.com/motionlessinwhite" target="_blank"><i class="fa fa-facebook-square"></i></a>
    <a href="http://twitter.com/MIWband" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <a href="http://instagram.com/miwband" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="right-align">
    <a href="http://hottopic.me/HknP" target="_blank"><img style="padding-right: 10px;" src="https://s3.amazonaws.com/myfangate.com/miwshazam/htlogo.jpg"></a>
    <a href="http://rockstarenergy.com/" target="_blank"><img src="https://s3.amazonaws.com/myfangate.com/miwshazam/rockstarlogo.jpg"></a>
    <a href="http://fearlessrecords.com/" target="_blank"><img src="https://s3.amazonaws.com/myfangate.com/miwshazam/fearlesslogo.jpg"></a>
  </div>
</footer>
